.user:before{
    content: '';
    background-image: url("../images/img/profile.png");
    background-size: cover;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 4px;
    bottom: 5px;
}
.user{
    text-decoration: none;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 1425px;
}
.user:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
.scoreboard:before {
    content: '';
    background-image: url("../images/img/scoreboard.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 4px;
    bottom: -2px;
}
.scoreboard{
    text-decoration: none;
    width: 60px;
    height: 46px;
    position: relative;
    left: -410px;
}
.scoreboard:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
.logout:before{
    content: '';
    background-image: url("../images/img/logout.png");
    background-size: cover;
    width: 34px;
    height: 36px;
    position: absolute;
    left: -1px;
    bottom: 5px;
}
.logout{
    text-decoration: none;
    width: 36px;
    height: 46px;
    position: relative;
    right: 0px;
}
.logout:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
.later{
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: white;
    position:  relative;
    top: 10px;
    left: 455px;
}
.modal-body, .modal-footer {
    color: white;
    font-family: Georgia;
    font-size: 16px;
}
#formForModal {
    margin-top: 20px;
    margin-left: 330px;
}
.out {
    width: 60px;
}
#out{
    background-color: #A358E0;
    color: white;
    font-family: Georgia;
    border: none;
}
#out:hover{
    background-color: #7C44AA;
}
#rules {
    color: white;
    font-family: Georgia;
    font-size: 15px;
    position: absolute;
    left: 190px;
}
#rules:hover {
    background-color: rgba(166, 165, 165, 0.6);
}
